.MuiTypography-root.MuiTypography-body1{
    width: 1000px;
}

#enter-chatroom-button {
    color: #ffffff;
    margin: 3px 46px -9px 46px;
}

#enter-chatroom-button:hover {
    color: #fbff00;
    size: 100px;
    margin: 3px 46px -9px 46px;
}
